pandas
gunicorn>=19.9.0
chart-studio==1.1.0
dash==2.11.1
dash_bootstrap_components==1.4.2
dash-tools
flask==2.2.2
jupyter_dash==0.4.2
numpy==1.23.5
pandas==2.0.3
pandas_datareader==0.10.0 
plotly==5.16.0
prophet==1.1.4
requests==2.31.0
urllib3==1.26.16

streamlit
toml
seaborn
matplotlib
scikit-learn
scikit-plot
scipy==1.11.4
xgboost
lightgbm
